extends layout
block content
  script(src='/javascripts/room.js')
  script
    var credentials = {
      roomName: '#{roomName}',
      userName: '#{userName}',
      token:    '#{token}'
    };

  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        a.brand(href='/catchhogehoge/') catch hoge hoge
        ul.nav
          li: a ルーム名：#{roomName}
          li: a(href='/catchhogehoge/') 退出する
          
  #main-contents.container
    .row
      .span4
        h3: span#yourname #{userName}
        form
          label
            textarea#message.span4(rows='5', placeholder='メッセージを入力...')
          button#post-message.btn.btn-primary(type='button') メッセージを投稿
        #members-box
          h5 チャットメンバー：
          ul#members
      .span8
        #messages.well

    .modal-footer
      a(href='/catchhogehoge/') トップページへ戻る
